@font-face {
    font-family: "Manrope";
    src: url('../fonts/Manrope-Light.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url('../fonts/Manrope-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url('../fonts/Manrope-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url('../fonts/Manrope-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Manrope";
    src: url('../fonts/Manrope-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url('../fonts/source-serif-pro.regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url('../fonts/source-serif-pro.semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter_18pt-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter_24pt-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url('../fonts/Inter_24pt-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/source-sans-pro.regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url('../fonts/source-sans-pro.semibold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Plus Jakarta Sans";
    src: url('../fonts/PlusJakartaSans-SemiBold.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

:root {
    --font-family: "Manrope", sans-serif;
    --second-family: "Source Serif Pro", sans-serif;
    --third-family: "Inter", sans-serif;
    --font3: "Source Sans Pro", sans-serif;
    --font4: "Plus Jakarta Sans", sans-serif;
}

body {
    font-family: var(--font-family), sans-serif;
}

.container {
    max-width: 1320px;
    margin: 0 auto;
    padding: 0 10px;
}

.content {
    max-width: 1390px;
}

/*  Header  */

.header {
    background: url('../img/ourteam/header-background.png') center/cover no-repeat;
    width: 100%;
    max-height: 800px;
    height: 100%;
    padding-top: 30px;
}

.header-top {
    max-height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    backdrop-filter: blur(20px);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 15px 20px;
    margin-bottom: 426px;
}

.header-logo-wrap {
    display: flex;
    align-items: center;
    margin-right: 51px;
}

.header-logo {
    max-width: 26px;
    max-height: 30px;
    margin-right: 10px;
}

.header-list {
    display: flex;
    align-items: center;
    column-gap: 10px;
    position: relative;
    margin-right: auto;
}

.header-list-item {
    display: flex;
    align-items: center;
    max-width: 193px;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 6px 10px;
}

.header-list-link {
    font-weight: 600;
    font-size: 16px;
    color: #fefcf6;
    margin-right: 15px;
}

.header-btn-item-1 {
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
    height: 20px;
    background-color: #FEFCF6;
    border-radius: 50px;
}

.header-col-wrap {
    display: flex;
}

.header-col-cont-1 {
    display: none;
}

.header-col {
    display: flex;
    align-items: end;
}

.header-col-cont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-right: 34px;
    page-break-inside: 10px;
}

.header-col-span {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fefcf6;
    margin-bottom: 0.5px;
}

.header-col-subtitle {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #fefcf6;
}

.header-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 151px;
    height: 42px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.05em;
    color: #212125;
    background-color: #fefcf6;
    border-radius: 10px;
}

.header-btn:active {
    top: 1px;
}

.header-span {
    display: block;
    position: relative;
    font-weight: 600;
    font-size: clamp(10px, 1.39vw, 20px);
    letter-spacing: -0.05em;
    color: #fff;
    margin-bottom: 23px;
    padding-left: 30px;
}

.header-span::before {
    position: absolute;
    content: '';
    width: 20px;
    height: 25px;
    top: -10%;
    left: 0;
    background: url('../icons/nav.svg') center/cover no-repeat;

}

.header-descr p {
    max-width: 510px;
    font-weight: 500;
    font-size: 16px;
    line-height: 120%;
    color: #f4efe6;
}

.header-descr {
    margin-bottom: 25px;
}

.header-title {
    font-weight: 600;
    font-size: clamp(20px, 5.56vw, 80px);
    letter-spacing: -0.04em;
    color: #fefcf6;
    padding-bottom: 80px;
}

.header-burger-col {
    padding: 20px 20px;
    display: none;
    flex-direction: column;
    row-gap: 30px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #212125;
    width: 100vw;
    height: 100vh;
    z-index: 1000;
}

body.no-scroll {
    overflow: hidden;
}

.header-list-1 {
    display: flex;
    align-items: start;
    flex-direction: column;
    column-gap: 10px;
    position: relative;
    row-gap: 10px;
}

.header-list-item-1 {
    max-width: 193px;
    backdrop-filter: blur(5px);
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    overflow: hidden;
    padding: 5px 10px;
}

.header-list-link-1 {
    position: relative;
    font-weight: 600;
    font-size: 16px;
    color: #fefcf6;
    margin-right: 15px;
}

.header-list-item-1 {
    display: flex;
}

.header-btn-item {
    display: flex;
    width: 20px;
    justify-content: center;
    align-items: center;
    height: 20px;
    background-color: #f4efe6;
    border-radius: 50px;
}

.header-col-wrap-2 {
    display: flex;
}

.header-col-2 {
    display: flex;
    align-items: center;
}

.header-col-cont-2 {
    margin-right: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.header-col-span-2 {
    font-weight: 400;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.02em;
    color: #fefcf6;
}

.header-col-subtitle-2 {
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #fefcf6;
}

.header-btn-2 {
    position: relative;
    width: 151px;
    height: 42px;
    padding: 10px 20px;
    font-weight: 600;
    font-size: 16px;
    letter-spacing: -0.05em;
    color: #212125;
    background-color: #fefcf6;
    border-radius: 10px;
}

.header-btn-2:active {
    top: 1px;
}

.burger-1 {
    width: 30px;
    height: 20px;
    position: absolute;
    right: 5%;
    top: 5%;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.burger-left,
.burger-right {
    width: 100%;
    height: 4px;
    background-color: #fff;
    transition: all 0.3s ease-in-out;
}

.burger-left {
    position: absolute;
    transform: rotate(45deg);
}

.burger-right {
    position: absolute;
    transform: rotate(-45deg);
}

.modal-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1000;  /* устанавливаем z-index выше, чем у мобильного меню */
}


.header-card-col-1 {
    position: fixed;
    display: none;
    flex-direction: column;
    top: 10%;
    right: 25%;
    max-width: 743px;
    max-height: 604px;
    background-color: #39372b;
    padding: 50px 70px 36px 70px;
    z-index: 1001;  /* модальное окно должно быть поверх overlay */
    border-radius: 10px;

}

.close {
    position: absolute;
    top: 30px;
    right: 30px;
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}

.header-card-title {
    font-weight: 600;
    font-size: clamp(20px, 3.06vw, 44px);
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #fff;
    margin-bottom: 51px;
}

.header-form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.header-input {
    padding: 22px 50px;
    border-radius: 10px;
    max-width: 603px;
    width: 100%;
    max-height: 78px;
    background-color: #fff;
}

.header-input:not(:last-child) {
    margin-bottom: 21px;
}

.header-input:last-child {
    margin-bottom: 42px;
}

.header-btn-btn {
    font-weight: 600;
    font-size: clamp(20px, 3.06vw, 44px);
    text-align: center;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 603px;
    width: 100%;
    background-color: #fff;
    padding-block: 17px;
    border-radius: 10px;
    margin-bottom: 41px;
}


.header-text-main {
    font-weight: 600;
    font-size: clamp(13px, 1.67vw, 24px);
    line-height: 130%;
    text-align: center;
    color: #808080;
    max-width: 603px;
}

/*  Golf  */

.golf-content {
    margin-bottom: 54px;
}

.golf-span-main {
    margin-top: 49px;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: clamp(10px, 2.78vw, 16px);
    color: #212125;
}

.golf-span-main a {
    color: rgba(33, 33, 37, 0.4);
}

.golf-title {
    font-weight: 600;
    font-size: clamp(20px, 5.56vw, 80px);
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #212125;
    margin-top: 117px;
}

/*  Club  */

.wrap-top {
    display: flex;
    align-items: center;
    background-color: #fefcf6;
    padding: 35px;
    width: 100%;
    margin-bottom: 38px;
}

.wrap-top-2,
.wrap-top-3,
.wrap-top-4,
.wrap-top-5,
.wrap-top-6,
.wrap-top-7,
.wrap-top-8,
.wrap-top-9 {
    display: none;
    align-items: center;
    background-color: #fefcf6;
    padding: 35px;
    width: 100%;
    margin-bottom: 38px;
}

.club-img {
    max-width: 570px;
    max-height: 570px;
    width: 100%;
    height: 100%;
    margin-right: 90px;
}

.club-img img {
    width: 100%;
    height: 100%;
}

.clup-top-col {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.club-top-title {
    font-weight: 600;
    font-size: clamp(20px, 3.06vw, 44px);
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #212125;
    margin-bottom: 21px;
}

.club-top-span {
    display: block;
    font-weight: 500;
    font-size: clamp(13px, 1.67vw, 24px);
    line-height: 100%;
    color: #212125;
    margin-bottom: 49px;
}

.club-top-descr {
    font-weight: 500;
    font-size: clamp(13px, 1.67vw, 24px);
    line-height: 140%;
    color: #212125;
    max-width: 640px;
    width: 100%;
    padding-bottom: 80px;
}

.club-bottom {
    display: grid;
    grid-template-columns: repeat(4, 290px);
    column-gap: 40px;
    row-gap: 70px;
    padding: 35px;
    margin-bottom: 135px;
}

.club-card {
    display: flex;
    align-items: start;
    column-gap: 20px;
}

.club-card-col {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

.cluub-card-img {
    margin-bottom: 20px;
}

.club-card:nth-child(5) .cluub-card-img,
.club-card:nth-child(6) .cluub-card-img,
.club-card:nth-child(7) .cluub-card-img,
.club-card:nth-child(8) .cluub-card-img {
    margin-bottom: 21px;
}

.club-card:nth-child(5) .card-title,
.club-card:nth-child(6) .card-title,
.club-card:nth-child(7) .card-title,
.club-card:nth-child(8) .card-title {
    margin-bottom: 10px;
}

.club-card:nth-child(5) .card-btn {
    margin-top: 20px;
}

.club-card:nth-child(6) .card-btn,
.club-card:nth-child(7) .card-btn,
.club-card:nth-child(8) .card-btn {
    margin-top: 5px;
}

.card-title {
    display: inline-flex;
    flex-shrink: 0;
    font-weight: 600;
    font-size: clamp(16px, 1.81vw, 26px);
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #212125;
    margin-bottom: 5px;
    max-width: 250px;
    width: 100%;
}


.card-span {
    font-weight: 400;
    font-size: clamp(13px, 1.11vw, 16px);
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #212125;
}

.card-span-1 {
    display: none;
    font-weight: 400;
    font-size: clamp(13px, 1.11vw, 16px);
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #212125;
}

.card-btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    background-color: #212125;
    border-radius: 50%;
}

.card-btn-1 {
    display: none;
    width: 15px;
    height: 15px;
    background-color: #212125;
    border-radius: 50%;
}

.card-btn-1 svg {
    width: 7px;
    height: 7px;
}

/*  Footer  */

.footer-title {
    font-weight: 600;
    font-size: clamp(20px, 5.56vw, 80px);
    line-height: 100%;
    letter-spacing: -0.05em;
    color: #212125;
    margin-bottom: 70px;
}

.footer-top-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 55px;
    column-gap: 15px;
    row-gap: 15px;
}

.footer-card-1 {
    max-width: 640px;
    max-height: 408px;
    width: 100%;
    height: 100%;
    padding: 25px 30px 30px 30px;
    background-color: #39372b;
    border-radius: 10px;
}

.footer-card-title {
    font-weight: 600;
    font-size: clamp(16px, 1.81vw, 26px);
    color: #fff;
    line-height: 140%;
    max-width: 432px;
    padding-bottom: 28px;
    padding-top: 0px;
}

.footer-form {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.footer-btn {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
    color: #212125;
    background-color: #fff;
    padding: 10px 25px;
    border-radius: 10px;
    max-width: 194px;
    width: 100%;
}

.footer-card-2 {
    max-width: 640px;
    max-height: 408px;
    width: 100%;
    height: 100%;
}

input[type="number"] {
    -moz-appearance: textfield;
    -webkit-appearance: none;
    appearance: none;
}

input[type="number"] {
    -moz-appearance: textfield;
    appearance: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

input[type='number'],
input[type="number"]:hover,
input[type="number"]:focus {
    appearance: none;
    -moz-appearance: textfield;
}


input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.footer-input {
    padding: 12px 0;
    margin-bottom: 28px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    color: #fff;
}

.footer-input-1 {
    display: none;
    padding: 10px 20px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    width: 100%;
    color: #fff;
    background-color: #fff;
    border-radius: 10px;
    max-width: 260px;
    width: 100%;
}

.footer-input-1:not(:last-of-type) {
    margin-bottom: 10px;
}

.footer-input-1:last-of-type {
    margin-bottom: 20px;
}

.footer-img {
    height: auto;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 30px;
    padding-top: 10px;
    margin-bottom: 50px;
}

.footer-col-1 {
    display: flex;
    flex-direction: column;
    margin-right: 355px;
}

.footer-bottom-title {
    font-weight: 700;
    font-size: 16px;
    color: #000;
    margin-bottom: 10px;
}

.footer-bottom-descr {
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.footer-col-2 {
    display: flex;
    flex-direction: column;
    margin-right: auto;
}

.footer-link {
    font-weight: 500;
    font-size: 16px;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #000;
}

.footer-link:not(:last-child) {
    margin-bottom: 10px;
}

.footer-col-3 {
    display: flex;
    align-items: start;
    max-width: 250px;
}

.footer-text {
    font-weight: 500;
    font-size: 16px;
    color: #000;
}

.footer-text-main {
    display: none;
}

@media (max-width:1350px) {
    .club-bottom {
        grid-template-columns: repeat(3, 290px);
        justify-content: center;
    }
}

@media (max-width:1300px) {

    .footer-top-content {
        display: block;
        width: 100%;
    }

    .footer-img {
        display: none;
    }

    .footer-card-1 {
        width: 70%;
        max-width: 1300px;
        max-height: 408px;
        margin: 0 auto;
    }

    .club-img {
        margin-right: 60px;
    }
}

@media (max-width:1270px) {

    .header-top {
        column-gap: 20px;
        padding: 5px 10px;
        margin-bottom: 400px;
    }

    .header-list {
        display: none;
    }

    .header-col-wrap {
        display: none;
    }

    .header-col-cont-1 {
        display: flex;
        align-items: center;
        column-gap: 20px;
    }

    .header-btn-tl {
        display: flex;
    }

    .burger {
        display: flex;
    }

    .burger-1 {
        top: 3%;
    }

}

@media (max-width:988px) {
    .club-bottom {
        grid-template-columns: repeat(2, 290px);
    }

    .header-card-col-1 {
        right: 20%;
    }
}

@media (max-width:958px) {
    .golf-title {
        margin-top: 90px;
    }

}

@media (max-width:878px) {

    .footer-card-1 {
        width: 100%;
        max-width: 1300px;
        max-height: 408px;
        margin: 0 auto;
    }

    .club-top-descr {
        padding-bottom: 30px;
    }

    .club-card-col {
        flex-shrink: unset;
    }
}

@media (max-width:855px) {

    .footer-col-1 {
        margin-right: 40px;
    }

    .club-top-span {
        margin-bottom: 30px;
    }

    .header-card-col-1 {
        right: 15%;
    }
}


@media (max-width:779px) {
    .header-descr {
        display: none;
    }

    .club-img {
        margin-right: 30px;
    }

    .header-card-col-1 {
        right: 10%;
    }
}

@media (max-width:688px) {
    .header {
        max-height: 600px;
    }

    .header-top {
        margin-bottom: 300px;
    }

    .header-span::before {
        height: 15px;
        width: 12px;
    }

    .header-span {
        padding-left: 17px;
    }

    .golf-title {
        margin-top: 60px;
    }

    .golf-span-main {
        margin-top: 30px;
    }


    .club-top-span {
        margin-bottom: 10px;
    }

    .club-top-title {
        margin-bottom: 15px;
    }

    .club-top-descr {
        padding-bottom: 20px;
    }

    .club-card {
        column-gap: 0;
    }

    .card-btn {
        display: none;
    }

    .club-bottom {
        column-gap: 20px;
        row-gap: 30px;
    }

    .club-bottom {
        grid-template-columns: 1fr 1fr;
    }

    .cluub-card-img {
        position: relative;
        min-width: 140px;
        min-height: 153px;
    }

    .cluub-card-img img {
        min-width: 140px;
        min-height: 153px;
    }

    .card-btn-1 {
        position: absolute;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        top: 3%;
        right: 3%;
    }

    .club-bottom {
        margin-bottom: 70px;
        padding: 0;
    }

    .club-top {
        margin-bottom: 30px;
    }

    .card-span-r {
        display: none;
    }

    .card-span-1 {
        display: block;
    }

    .club-card:nth-child(5) .cluub-card-img,
    .club-card:nth-child(6) .cluub-card-img,
    .club-card:nth-child(7) .cluub-card-img,
    .club-card:nth-child(8) .cluub-card-img {
        margin-bottom: 17px;
    }

    .club-card:nth-child(5) .card-title,
    .club-card:nth-child(6) .card-title,
    .club-card:nth-child(7) .card-title,
    .club-card:nth-child(8) .card-title {
        margin-bottom: 7px;
    }

    .header-card-col-1 {
        right: 5%;
    }
}

@media (max-width: 598px) {
    .header-card-col-1 {
        padding: 20px;
        right: 5%;
    }
}

@media (max-width: 588px) {

    .header-card-col-1 {
        padding: 20px;
        right: 5%;
    }

    .wrap-top {
        flex-wrap: wrap !important;
        padding: 0 !important;
        background-color: #fff !important;
        margin-bottom: 20px !important;
    }

    .club-img {
        display: flex;
        margin: 0 auto;
        margin-bottom: 20px;
    }

    .club-top-title {
        margin-bottom: 5px;
    }

    .club-top-span {
        margin-bottom: 20px;
    }

    .club-top-descr {
        padding-bottom: 0;
        font-weight: 400;
    }

    .header-card-title {
        margin-bottom: 20px;
    }

    .header-btn-btn {
        padding: 10px;
        margin-bottom: 20px;
    }

    .header-input {
        height: 10px;
    }

}

@media (max-width: 502px) {

    .footer {
        background-color: #39372b;
    }

    .footer-img {
        display: none;
    }

    .footer-form input[type=email] {
        display: none;
    }

    .footer-input {
        background-color: #fff;
        border-radius: 10px;
        padding: 10px 20px;
        margin-bottom: 10px;
        color: #000;
    }

    .footer-btn {
        max-width: 260px;
        padding: 9px 41px;
    }

    .footer-title {
        margin-left: 30px;
        color: #fff;
        padding-top: 10px;
        margin-bottom: 0;
    }

    .footer-form {
        align-items: center;
    }

    .footer-bottom {
        padding: 10px 0;
        flex-direction: column;
        row-gap: 0;
        padding: 0;
    }

    .footer-bottom-title {
        font-family: var(--font-family);
        font-weight: 700;
        font-size: 13px;
        color: #808080;
    }

    .footer-card-title {
        display: none;
    }

    .footer-bottom-descr {
        display: none;
    }

    .footer-col-2 {
        display: none;
    }

    .footer-text {
        font-family: var(--font-family);
        font-weight: 500;
        font-size: 13px;
        color: #808080;
    }

    .footer-text-main {
        display: flex;
        display: block;
        padding-top: 20px;
        width: 100%;
        font-weight: 600;
        font-size: 13px;
        line-height: 130%;
        text-align: center;
        color: #808080;
    }

    .footer-top-content {
        margin-bottom: 0;
    }

    .footer-col-1 {
        margin-right: 0;
    }

    .footer-bottom {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        padding: 10px 0 20px 0;
    }

    .header-card-col-1 {
        right: 1%;
    }

}


@media (max-width:426px) {
    .header {
        max-height: 400px;
        padding-top: 10px;
        background: url('../img/ourteam/header-mobile.png') center/cover no-repeat;
    }

    .header-top {
        margin-bottom: 284px;
    }

    .header-logo-wrap {
        max-width: 130px;
    }

    .header-logo-descr {
        display: flex;
        align-self: center;
    }

    .header-col-wrap-2 {
        flex-direction: column-reverse;
        row-gap: 20px;
    }

    .header-list-link-1 {
        font-size: 10px;
    }

    .header-list-link-1::after {
        top: -25%;
    }

    .header-span {
        margin-bottom: 11px;
        padding-left: 23px;
    }

    .header-title {
        padding-bottom: 45px;
    }

    .burger-1 {
        top: 3%;
    }

    .golf-span-main {
        margin-top: 17px;
    }

    .golf-title {
        margin-top: 52px;
    }

    .golf-content {
        margin-bottom: 30px;
    }

    .club-img {
        min-height: 320px;
    }

    .club-img img {
        min-height: 320px;
    }


    .footer-title {
        margin-bottom: 26px;
        margin-left: 21px;
        padding-top: 20px;
    }

    .footer-input {
        display: none;
    }

    .footer-input-1 {
        display: block;
        color: #1f201e;

    }

    .footer-input-1::placeholder {
        font-weight: 400;
        font-size: 13px;
        color: #808080;
    }

    .footer-card-1 {
        padding: 0;
    }

    .footer-text-main {
        font-size: 13px;
        max-width: 260px;
        margin: 0 auto;
        margin-bottom: 19px;
        padding-bottom: 10px;
    }

    .footer-bottom {
        padding: 12px 0 20px 0;
    }

    .footer-bottom-title {
        padding-bottom: 5px;
    }

}